@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
*{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    transition: all .5s;
}
body{
    background-color: black;
    color: white;
}
::-webkit-scrollbar{
    display: none;
}
.container:hover .hover{
    display: flex;
}
.container:hover{
    background-color: rgb(66, 66, 66);
}